.steps{
    width: 32px;
    height: 32px;
    border-radius: 50%!important;
    border: 1px solid;
}
.active{
    font-weight: 700!important;
    border-width: 3px!important;
}

.done{
    color: white;
    background-color: #6c757d;
}


.progress-bar-step-none{
    width: 0%;
}

.progress-bar-step-done{
    width: 100%;
}

.div-progress{
    position: relative;
    width: 200px;
    margin:24px;
}

.progress-style{
    height: 1px; 
    margin-left: 16px; 
    margin-right: 16px;
}

.card-input{
    max-width: 800px;
    margin: auto;
}
